@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
background-color: #f7f8f3;

font-family: 'Poppins', sans-serif;}

a{text-decoration: none;
color: #3f95cd;
}

a:hover{
color:black;
text-decoration: underline;}

#name{text-align: center;
  color: #00436f;
font-size: 30pt;}

#currentPosition{text-align: center;
font-size: 14pt;}

#address{text-align: center;
font-size: 14pt;}

#contact{text-align: center;
font-size: 14pt;}

#profile{font-size: 14pt;
font-weight: bolder;}

#image{width: 300px;
  margin: 0 auto;}


.sectionTitle{
  background-color: #c7cbca;}

.subheading{color: #0776be;}

li{
  list-style: circle;}

th{text-decoration: underline;}

table{width: 1200px;}
