@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

body{font-family: 'Roboto', sans-serif;}

header{
  width: 100%;
  height: 100px;
}

nav{
width: 98%;
height: auto;
margin-top: -3em;
font-size: 15pt;


}

h1{
  padding-left: 2%;
}


nav ul li{
  display:inline-block;
  float: right;
  padding: 0.5em;


}

nav ul li a{text-decoration: none;
color: black;}

footer{
  width: 100%;
  height: 100px;
  background-color: #f1f2f3;
}

#contact{
  width: 95%;
  margin-top: -3em;
}

ul li{
  display:inline-block;
  padding: 0.5em;
  float: right;
}

ul li a{
  text-decoration: none;
  color: black;
}

#footerlogo{
  margin-left: 2em;
  padding-top: 2em;

}

.logolink{
  text-decoration: none;
  color: black;
}

ul li a:hover{
  color: gray;
}

nav ul li a:hover{
  color:gray;
}
